@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --crl-main: #123456;
    --crl-main-lts: #30699e;
    --crl-white: #ececec;
    --crl-gray: #e2e2e2;
    --crl-red: #961818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.queso {
    display: flex;
    align-items: row;
}

.queso h1 {
    padding-top: 0.2em;
    padding-left: 0.5em;
}

.queso img {
    max-height: 51px;
    border: 3px solid var(--crl-white);
    border-radius: 0.5em;
    padding: 0.1rem;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*webo*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--crl-main);
}

aside {
    padding: 2rem;
    color: var(--crl-white);
    position: sticky;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: 0;
}

.logo {
    font-weight: 400;
    font-size: 2rem;
    font-style: oblique;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--crl-white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 0.85rem;
        width: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.bi-hand-index-thumb,
.bi-hand-index-thumb-fill {
    transform: rotate(90deg);
}

.boton-menu.active {
    background-color: var(--crl-white);
    color: var(--crl-main);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}
.boton-menu.active::before{
    content: ' ';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color:transparent;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 var(--crl-white);
}

.boton-carrito{
margin-top: 2rem;
}
.numerito{
    background: var(--crl-white);
    color: var(--crl-main);
    padding:  0.25rem;
    border-radius:  0.25rem;
}

.boton-carrito.active .numerito{
       background: var(--crl-main);
    color: var(--crl-white);
    padding:  0.25rem;
    border-radius:  0.25rem;
}

.boton-menu.active::after{
    content: ' ';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color:transparent;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 var(--crl-white);
}

.texto-footer {
    color: var(--crl-main-lts);
    font-size: 0.85rem;
}

main {
    background: var(--crl-white);
    margin: 1rem;
    border-radius: 2rem;
    padding: 3rem;
    margin-left: 0;
}

.titulo-principal {
    color: var(--crl-main);
    margin-bottom: 2rem;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imgen {
        width: 100%;
  max-height:100%;
  overflow: hidden;
  display: flex;
  
  align-items: center;
  justify-content: center;
    border-radius: 1rem;
}

.producto-imgen img {
      width: 100%;
  max-height: 100%;
  
}



.producto-detalles {
    background-color: var(--crl-main);
    color: var(--crl-gray);
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-titulo {
    font-size: 0.7rem;

}

.producto-agregar {
    border: 2px solid var(--crl-white);
    background-color: var(--crl-white);
    color: var(--crl-main);
    padding: 0.4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;

}

.producto-agregar:hover {
    background-color: var(--crl-main);
    color: var(--crl-white);
}

/** carro vacio**/

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.carrito-vacio,
.carrito-comprado{
    color: var(--crl-main);
}
.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem ;
}
.carrito-producto{
    display: flex;
        background: var(--crl-gray);
    color: var(--crl-main);
    padding: 0.6rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    align-items: center; 
    text-overflow: ellipsis;
    max-height: 5em;
}
.datos{
      display: flex;
padding-left: 4rem;
justify-content: space-between;
width: 100%;
}

.carrito-producto-titulo{
    width: 3em;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}
.carrito-producto small{
    font-size: 0.75rem;
}
.carrito-producto-eliminar{
border: 0;
background:TRANSPARENT ;
color: var(--crl-red);
cursor: pointer;
}

.carrito-acciones{
    display: flex;
justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background:var(--crl-gray);
    padding:1rem;
    border-radius: 1rem;
    color: var(--crl-main);
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-de{
display: flex;
}
.carrito-acciones-total{
    background:var(--crl-gray);
    padding:1rem;
    border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    color: var(--crl-main);
    text-transform: uppercase;
display: flex;
gap:1rem ;
}

.carrito-acciones-comprar{
    border: 0;
    background:var(--crl-main);
    padding:1rem;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    color: var(--crl-white);
    text-transform: uppercase;
    cursor: pointer;
}

.disabled{
    display:none;
}

/*mensage flotante*/

.floating-container {
    border: 3px solid yellow;
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.floating-message {
  background-color: #333;
  color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  animation: fadeIn 0.3s ease;
  font-family: sans-serif;
}

